body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/login_background.png") no-repeat center center fixed;
    background-size: cover;
        /* Ensures the background covers the entire screen */
    color: #ffffff;
    
}

.form-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(46, 229, 157, 0.7);
}

.form-button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-button:hover {
    background-color: #2EE59D;
    color: #fff;
    transform: translateY(-5px);
}

p {
    font-size: 0.9rem;
    margin-top: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .form-button {
        font-size: 0.9rem;
    }
}
